
    <!--Top Header -->
    <div class="header-top" *ngIf="headerTop">
        <div class="left-top ">
            <ul>
                <li><i class="fas fa-map-marker-alt top-icon"></i>123, washington street, uk</li>
                <li><i class="fas fa-phone-volume top-icon"></i>+19 123-456-7890</li>
                <li><i class="fas fa-envelope top-icon"></i>mail@yourdomain.com</li>
            </ul>
        </div>
        <div class="right-top ">
            <ul>
                <li><i class="fab fa-facebook-f top-icons"></i>
                </li>
                <li><i class="fab fa-instagram top-icons"></i>
                </li>
                <li><i class="fab fa-linkedin-in top-icons"></i>
                </li>
                <li><i class="fab fa-twitter top-icons"></i>
                </li>
            </ul>
        </div>
    </div>
	<!--/Top Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a (click)="home()" class="navbar-brand logo">
                    <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a class="menu-logo">
                        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav" >
                    <li [class.active]="base === 'home' || base === 'home-one' || base === 'home-two' || base === 'home-slider-one' || base === 'home-slider-two' " (click)="addStyle('home')" style="cursor: pointer;">
                        <a href="javascript:void(0);">
                            <span class="d-block title">Veterinarians</span>
                            <span class="d-block menu-title">Book an appointment</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Consult</span>
                            <span class="d-block menu-title">Book a home visit</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Pet Services</span>
                            <span class="d-block menu-title">Provider & caretaker</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Clinic</span>
                            <span class="d-block menu-title">Practice management</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Shop</span>
                            <span class="d-block menu-title">Medicines & products</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Login</span>
                            <span class="d-block menu-title">Register</span>
                        </a>
                    </li>
                    <li [class.active]="base === 'doctor' || (base === 'patients' && page === 'patient-profile')" (click)="addStyle('doctor')"  style="cursor: pointer;" >
                        <a (click)="doctor('doctor')">
                            <span class="d-block title">Nepolian L</span>
                            <span class="d-block menu-title">My Account</span>
                        </a>
                    </li>
                </ul>
            </div>

           
        </nav>
    </header>
