<footer class="footer">				
	<!-- Footer Top -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-about">
						<h2 class="footer-title">About</h2>
						<div class="footer-about-content">
							<p>Process of connecting veternarias, your pets to ensure the quickest service done to care your pets.</p>
							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> Bangalore, Karnataka, India</a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> vetconnect@example.com</a>
									</li>
									<li>
										<a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i> +91 9123 456 124, 080 2658 9811</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Are you a veterinarian?</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Create Profile</a></li>
						</ul>
						<h2 class="footer-title pt-3">Manage Clinic</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Features</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Pricing</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Register</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Subscribe</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Are you a pet lover?</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Create Profile</a></li>
						</ul>
						<h2 class="footer-title pt-3">Do you love to care?</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Nominate Youself</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Pet Grooming</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Pet Daywalking</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Pet Daycare</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Pet Care</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Search for Veterinarians</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Serach for Home Visit</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Search for Clinics</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Book a Free Consulting</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Indeed</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">Our services</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Our Products</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Blog</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Privacy Policy</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Terms & Conditions</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
				<div class="col-sm-12 col-md-2 col-lg-2">
				
					<!-- Footer Widget -->
					<div class="footer-widget footer-menu">
						<h2 class="footer-title">Vet Connect</h2>
						<ul>
							<li><a href="javascript:void(0)" routerLink="#">About</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Testimonials</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Features</a></li>
							<li><a href="javascript:void(0)" routerLink="#">Contact Us</a></li>
						</ul>
					</div>
					<!-- /Footer Widget -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- /Footer Top -->
	
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container-fluid">
		
			<!-- Copyright -->
			<div class="copyright">
				<div class="row">
					<div class="col">
						<div class="copyright-text">
							<p class="mb-0">Copyright <span>©</span> 2020, Vet Connect All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /Copyright -->
			
		</div>
	</div>
	<!-- /Footer Bottom -->	
</footer>